.footer {
    padding: 30px;
    display: flex;
    align-items: center;
    
    &__item {
        text-align: center;
        flex-basis: 100%;
        font-family: 'Roboto';
        font-weight: bold;
        font-size: 1.2rem;
        line-height: 1.8rem;
        letter-spacing: 0.1px;
        color: #5C5C5C;
    }
    &__logo {
        height: 78px;
        margin: 0 auto;
    }
    &__link {
        svg{
            path {
                fill: #red;
            }
            &:hover {
                path {
                    fill: #252b42;
                }
            }
        }
    }
}
