.works {
    padding: 70px 0;

    &__title {
        text-align: center;
        margin-bottom: 70px;
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 4.4rem;
        line-height: 3.6rem;
        letter-spacing: 0.1px;
        color: #000000;
        opacity: 0.8;
    }

    &__blocks {
       display: flex;
       flex-direction: column;
    }

    &__block {
        padding: 78px 0 70px;
        display: flex;
        align-items: center;
        &_right {
            .works__pic {
                order: 1;
            }
            .works__img {
                transform: translateX(25%) scale(1.4);
            }
        } 
    }
    &__pic {
        width: 40%;
    }
    &__img {
        width: 100%;
        transform: translateX(-25%) scale(1.4);
        filter: drop-shadow(50px 30px 150px rgba(46, 4, 4, 0.15));
    }
    &__text {
        width: 60%;
    }
    &__minititle {
        margin-bottom: 15px;
        font-weight: bold;
        font-size: 2.4rem;
        line-height: 3.6rem;
        letter-spacing: 0.1px;
        color: #FA4A0C;
    }
    &__subtitle {
        margin-bottom: 20px;
        font-weight: bold;
        font-size: 4rem;
        line-height: 5rem;
        letter-spacing: 0.2px;
        color: #252B42;
    }

    &__descr {
        font-weight: 500;
        font-size: 2.4rem;
        line-height: 3.8rem;
        letter-spacing: 0.2px;
        color: #737373;
    }
}
