<div class="download">
    <div class="container">
            <div class="download__bg"></div>
            <div class="download__title">
                Download the app now.
            </div>
            <div class="download__descr">
                Available on your favorite store. Start your premium experience now
            </div>
            <a href="#" class="download__btn download__btn_orange">
                Playstore
            </a>
            <a href="#" class="download__btn">
                App store
            </a>
    </div>
</div> 