<div class="header">
    <div class="container">
        <div class="header__bg"></div>
        <div class="header__text">
            Food app
        </div>
        <div class="header__title">
            Why stay hungry when 
            you can order form Bella Onojie
        </div>
        <div class="header__subtitle">
            Download the bella onoje’s food app now on
        </div>
        <a class="header__btn header__btn_orange" href="#">
            Playstore
        </a>
        <a class="header__btn" href="#">
            App store
        </a>
    </div>
</div>