<div class="works">
    <div class="container">
        <div class="works__title">
            How the app works
        </div>
        <div class="works__blocks">
            <div class="works__block">
                <div class="works__pic">
                    <img class="works__img" src="./img/mobile3.png" alt="mobile3">
                </div>
                <div class="works__text">
                    <div class="works__minititle">
                        Create an account
                    </div>
                    <div class="works__subtitle">
                        Create/login to an existing
                        account to get started
                    </div>
                    <div class="works__descr">
                        An account is created with your email
                        and a desired password
                    </div>
                </div>
            </div>
            <div class="works__block works__block_right">
                <div class="works__pic">
                    <img class="works__img" src="./img/mobile4.png" alt="mobile4">
                </div>
                <div class="works__text">
                    <div class="works__minititle">
                        Explore varieties
                    </div>
                    <div class="works__subtitle">
                        Shop for your favorites
                        meal as e dey hot.
                    </div>
                    <div class="works__descr">
                        Shop for your favorite meals or drinks
                        and enjoy while doing it.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>